<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://d1fbh1knoaoilz.cloudfront.net/2022/12/What-s-new-in-Angular-15---Peerlist---cover.png"
      alt=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus maiores quo commodi esse aliquam voluptatum, consequuntur aperiam.
      </a>
    </p>
  </div>
</div>