.container__small-card {
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  align-items: center;
}

.small-card__photo {
  width: 200px;
}

.small-card__title {
  padding: 0 15px;
}

.small-card__title > h1 > a {
  font-size: 20px;
}

.container__small-card__separator {
  margin-top: 10px;
}